.header{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    border: 2px solid black;
    margin: 1px;
    height: 8vh;
}

.logo{
    height:8vh;
    width: 5em;
}

.navbar > ul{
    height: 3.5vh;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 2px;
    text-decoration: none;
}

.navbar > ul > li{
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}

.body{
    height:1000vh;
}

.search{
    display: flex;
    justify-content: center;
    /* width: 80%; */
    margin: 2vh 5vh;
    height: 3vh;
}

.search-input{
    width: 90%;
    height: 3vh;
}

.scroller{
    height: 500vh;
}

.counter {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.todo-input{
    display: flex;
}

.todo-list{
    border: 2px solid black;
    background-color: grey;
    margin: auto;
}

.emp-table{
    border: 2px solid grey;
    padding: 2px;
}

.paginated-buttons > button {
    background-color: grey;
    margin: 3px;
}